<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>PowerSchool RSS Updates</title>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id="container">
      <h1>Available Feeds</h1>
      <ul>
      <% for f in Feed.find(:all, :order => 'name') -%>
      <li><%= link_to f.name, feed_url(f, :format => 'rss') %></li>
      <% end -%>
      </ul>
    </div>
  </body>
</html>
